.paper-texture {
  background-color: #f8f7f6;
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuBDNXuN5qZ31GGkQnhU8mYwOqQiBXXUwUNL6aDqRMQXSKZhdPBWhhk-MccJswUgnOFuZXEcehY9PLoicNMhZPxMMuQDq0_GSS4P8ytKTGHCPq5XgAUwyJ3JLH70aiPbLDsnNboFhXxj2mF1jlHCf2OVSxRM8mIh5V0ammFsjiAY-igCCf44l10af2sZ9cvH2qmaWwAgKkZq1uSUiNCLcvL3xHerEfLtFlKANSCJBvCg0l0hdbTcy1cy1pZDUsdSt4UhKOph-wazH8A);
}

.scanned-page-shadow {
  box-shadow: 0 10px 30px -10px rgba(34, 25, 16, 0.2), 0 4px 6px -4px rgba(34, 25, 16, 0.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .layout-container {
    padding: 0;
  }
  #content {
    border-right: none;
  }
}

@media (max-width: 1024px) {
  #scan-panel {
    display: none !important;
  }
}
